@font-face{
  font-family: Mont;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face{
  font-family: Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face{
  font-family: Play;
  src: url(../fonts/PlayfairDisplay-Medium.ttf);
}

*{
	margin:0;
	padding: 0;
	font-family: Mont;
}
#intro{
	position: absolute;
	width: 500px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.7);
	padding: 30px;
	border-radius: 20px;
}
#intro h2{
	color: #fff;
	font-family: Bold;
	text-align: center;
}
#intro h4{
	color: #fff;
	text-align: center;
	font-size: 16px;
}
#intro button{
	background-color: #361999;
	border:none;
	color: #fff;
	box-shadow: none;
}
#intro a{
	text-decoration: none;
}
#intro img{
	width: 40%;
}
#header{
	background-color: orange;
	padding: 15px;
}
#header h3{
	color: #000;
	font-family: Bold;
}
#sidebar .col-md-2{
	background-color: #150734;
	height: 89vh;
}
#sidebar  ul{
	list-style: none;
}
#sidebar  li{
	margin-bottom: 10px;
	width: 100%;
}
#sidebar  li a{
	color: #000;
	background-color: orange;
	padding: 15px;
	width: 100%;
	display: block;
	text-decoration: none;
	border-radius: 10px;
	font-size: 24px;
	font-family: Bold;
}
#main{
	position: absolute;
	width: 700px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.7);
	padding: 30px;
	border-radius: 20px;
	border: 4px solid orange;
}
#dynamic{
	background-color: rgba(0,0,0,0.7);
	padding: 30px;
	border-radius: 20px;
	border: 4px solid orange;
	margin-top: 20px !important;
}
#main h2{
	color: orange;
	font-family: Bold;
	text-align: center;
	padding-bottom: 5px;
}
#main h5{
	color: #fff;
	text-align: center;
	line-height: 1.4em;
}
#anime{
	animation: 2s mover infinite;
}
#board {
	background-image: url('../img/board1.png');
	width: 468px;
	height: 263px;
	margin-top: 20px;
}
#boardc {
	background-image: url('../img/board.jpg');
	width: 650px;
	height: 415px;
	margin-top: 20px;
}
#boardc h6{
	color: #150734;
	font-family: Bold;
	padding-top: 20px;
	font-size: 23px;
}
#board h6{
	color: #150734;
	font-family: Bold;
	padding-top: 15px;
	font-size: 23px;
}
#board span{
	font-family: Bold;
	color: #150734;
	font-size: 30px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	word-wrap: break-word;
	overflow-x: auto;
	margin: 10px;
}
#main2 .set1{
	padding: 10px;
	width: 100px;
	margin-bottom: 5px;
	background-color: #150734;
	color: #fff;
	border: 3px solid orange;
	font-size: 25px;
	font-family: Bold;
	border-radius: 5px;
}

#main2 .sete{
	padding: 5px;
	width: 50px;
	margin-bottom: 5px;
	background-color: #150734;
	color: #fff;
	border: 3px solid orange;
	font-size: 15px;
	font-family: Bold;
	border-radius: 5px;
}
#main2 .setee{
	padding: 5px;
	width: 75px;
	margin-bottom: 5px;
	background-color: #150734;
	color: #fff;
	border: 3px solid orange;
	font-size: 15px;
	font-family: Bold;
	border-radius: 5px;
}


#main2 .set2{
	padding: 10px;
	width: 200px;
	margin-bottom: 5px;
	background-color: orange;
	color: #000;
	border: 3px solid #fff;
	font-size: 25px;
	font-family: Bold;
	border-radius: 5px;

}
#cdetails{
	background-color: rgba(0,0,0,0.7);
	padding: 10px;
	border: 3px dashed orange;
}
#cdetails p{
	color: #fff;
	font-size: 14px;
}
#cdetails h6{
	color: orange;
	font-size: 16px;
	font-family: Bold;
}
#prev{
	animation: 2s movers infinite;
}
#next{
	animation: 2s moverss infinite;
}
#login{
	position: absolute;
	width: 500px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.7);
	padding: 30px;
	border-radius: 20px;
}

#login .icon{
	color: #fff !important;
}
#login label{
	color: #fff;
}
#login h3{
	color: #fff;
	font-family: Bold;
	text-align: center;
}
#login p{
	text-align: center;
	color: #fff;
}
#login input{
	padding: 20px;
	background-color: transparent;
	border: none;
	border-bottom: 3px solid orange;
	box-shadow: none;
	border-radius: 0px;
	color: #fff;
}
#dashboard .smain{
	color: orange;
	font-size: 80px;
	margin-top: 40px;
	border: 3px solid orange;
	padding: 20px;
}
#dashboard .sidenav ul{
	list-style: none;
}
#dashboard .sidenav li{
	margin-bottom: 10px;
	width: 100%;
}
#dashboard .sidenav li a{
	color: #000;
	background-color: orange;
	padding: 15px;
	width: 100%;
	display: block;
	text-decoration: none;
	border-radius: 10px;
}
#dashboard .box1{
	background-color: orange;
	margin: 25px 15px 15px 15px;
	padding: 25px;
	border-radius: 15px;
}
#dashboard .box1 h1{
	color: #000;
}
#dashboard .box1 h6{
	background-color: #000;
	color: #fff;
	padding: 15px;
}
#dashboard .info{
	background-color: #150734;
	border-radius: 20px;
	margin: 10px 15px 15px 15px;
	padding: 25px;
}
#dashboard .info2{
	background-color: #150734;
	border-radius: 20px;
	margin: 10px 15px 15px 15px;
	padding: 25px;
}
#dashboard .info h2{
	color: #fff;
	font-family: Bold;
}
#dashboard .info2 h2{
	color: #fff;
	font-family: Bold;
}
#dashboard .info p{
	color: #fff;
}
#dashboard .info2 input{
	color: #fff;
	padding: 25px;
	background-color: transparent;
	border: 1px solid orange;
	box-shadow: none;
	border-radius: 0px;
}

#dashboard .info2 select{
	color: #fff;
	background-color: transparent;
	border: 1px solid orange;
	box-shadow: none;
	border-radius: 0px;
}
#dashboard .info2 textarea{
	padding: 20px;
	border: 1px solid orange;
	box-shadow: none;
	border-radius: 0px;
}
#dashboard .info2 label{
	color: #fff;
}

#dashboard .info2 .nav-item .active{
	background-color: orange;
	color: #000;
}
#dashboard .info2 .nav-link{
	color: #fff;
}












@keyframes mover{
	20%{
		transform: translateX(100px);
	}
	40%{
		transform: rotate(360deg);
	}
	60%{
		transform: translateX(-100px);
	}
}

@keyframes movers{
	50%{
		transform: translateX(100px);
	}
	
}
@keyframes moverss{
	50%{
		transform: translateX(-100px);
	}
	
}